@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h1 class="display-4">DocketManager Home Page</h1>
    <p>This is a mock home page of DocketManager. To test functionality of BackOffice integration, you need: </p>
    <ol>
        <li>Login. You can use one of two test accounts - <strong>alice</strong> (pwd=alice) or <strong>bob</strong> (pwd=bob).</li>
        <li>Go to the BackOffice page. Here you will see BackOffice in <code>&lt;iframe&gt;</code> element.</li>
    </ol>
    <p>If you try to go to the BackOffice without being logged in, you will notice that it will request you to login with your DM credentials (i.e. as alice or bob) <em>inside the iframe</em>.</p>
</div>
